<div class="create-page">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Create User</li>
    </ol>
  </nav>
  <div class="page-content">
    <div class="row">

      <div class="col col-md-8">

        <form class="create-form" [formGroup]="exampleForm" novalititre (ngSubmit)="onSubmit(exampleForm.value)">

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput placeholder="Name" class="form-control" formControlName="titre">
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.titre">
              <mat-error
                *ngIf="exampleForm.get('titre').hasError(validation.type) && (exampleForm.get('titre').dirty || exampleForm.get('titre').touched)">
                {{validation.message}}</mat-error>
            </ng-container>
          </div>

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput placeholder="texte" class="form-control" formControlName="texte">
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.texte">
              <mat-error
                *ngIf="exampleForm.get('texte').hasError(validation.type) && (exampleForm.get('texte').dirty || exampleForm.get('texte').touched)">
                {{validation.message}}</mat-error>
            </ng-container>
          </div>

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput type="texte" min="0" max="100" placeholder="lien" class="form-control"
                formControlName="lien">
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.lien">
              <mat-error
                *ngIf="exampleForm.get('lien').hasError(validation.type) && (exampleForm.get('lien').dirty || exampleForm.get('lien').touched)">
                {{validation.message}}</mat-error>
            </ng-container>
          </div>

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput type="text" placeholder="Salle" class="form-control" formControlName="type">
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.type">
              <mat-error
                *ngIf="exampleForm.get('type').hasError(validation.type) && (exampleForm.get('type').dirty || exampleForm.get('type').touched)">
                {{validation.message}}</mat-error>
            </ng-container>
          </div>

          <div class="row submit-button-container">
            <div class="col-md-4">
              <button mat-raised-button class="submit-button" color="primary" type="submit"
                [disabled]="!exampleForm.valid">Create</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>